<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Let's get wishing!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hello {{ session['f_name'] }}! Make a wish, make it a good one!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0 align-content-sm-end" href="/wishes">Go Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0 align-content-sm-end" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="card-body px-lg-5 pt-0" style="width: 400px; display: inline-block; vertical-align: top" >
            <form class="md-form" style="color: #757575;" action='/newWish_process' method="post">
        <h1>Login</h1>
        <hr>
        {% with messages = get_flashed_messages(category_filter=["wishErrors"]) %}
        {% if messages %}
            <img src="https://media.giphy.com/media/5ftsmLIqktHQA/giphy.gif" alt='image'>
            <ul class=flashes>
                
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endif %}
        {% endwith %}
         <label for="materialLoginFormEmail">I wish for:</label>
         <input type="text" id="materialLoginFormEmail" class="form-control" name="wish" >
       
        <p>Description:</p>
        <textarea class="form-control" name="desc"></textarea>
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit Wish</button>
        <a class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" href="/wishes">Cancel</a>
    </div>
    </div>
</body>
</html>
